/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Montserrat", sans-serif;
  background-image: var(--bg-o-image);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
  height: 100vh;
}
a{
    text-decoration: none;
}
ul {
    list-style-type: none;
}

/* Variables */
:root{
    --bg-b-color:hsl(0, 0%, 0%);
    --bg-g-op:hsla(108, 99%, 34%, 0.705);
    --bg-o-image: linear-gradient( to bottom,hsl(39, 100%, 50%),hsl(0, 0%, 100%));
    --bg-w-color:hsl(0, 0%, 100%);
    --f-l:1.2em;
    --f-xl:1.5em;
    --gap-l:0.5rem;
    --gap-xl:1.5rem;
    --l-padd:1.2rem 2rem;
    --m-padd:0.5rem 1.2rem;
    --t-b-color:hsl(0, 0%, 0%);
    --t-g-color:hsl(108, 99%, 34%);
    --t-o-color:hsl(32, 100%, 50%);
    --t-w-color:hsl(0,0%,100%);
    --xl-padd:2rem 2.5rem;

}
/* hover */
.nav--item--a:hover{
    color:var(--t-o-color);
}
/* animations */
@keyframes FigcapDrop {
    0%{
        top: 0;
    }
    50%{
        opacity: 0.6;
    }
    100%{
        top:20px;
        opacity: 1;
    }
}
/* main container */
.main--container{
    margin: auto;
    max-width: 800px;
}
/* Header */
/* head sec */
.header{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.head--sec{
    background-color: var(--bg-b-color);
    color: var(--t-w-color);
    font-size: var(--f-xl);
    padding: var(--m-padd);
    text-align: center;
    width: 100%;
}
.head--sec--h1{
    display: flex;
    gap: var(--gap-l);
    justify-content: center;
}
.head--sec--h1::before,.head--sec--h1::after{
align-self: center;
content: url(../Images/favicon.ico);
}
/* nav sec */
.nav{
    background-color: var(--bg-w-color);
    border: 1px solid var(--t-b-color);
    display: flex;
    justify-content: center;
    width: 100%;
}
.nav--menu{
    display: flex;
    font-size: var(--f-l);
    gap: var(--gap-xl);
    padding: var(--m-padd);
}
.nav--item--a{
    color:var(--t-b-color);
}
/* main */
/* figure img */
.fig {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
  }
  
  .fig--img {
    display: block;
    height: auto;
    width: 100%;
  }
  
  .figcap {
    animation: FigcapDrop 0.3s ease-in 0.5s 1 forwards;
    background-color: var(--bg-g-op);
    color: var(--t-w-color);
    font-size: var(--f-xl);
    font-weight: 900; 
    left:30px;
    opacity: 0;
    padding: var(--m-padd);
    position: absolute;
    top: 20px;
    transform: skew(-15deg, -5deg);
  }